<p><b>Type :</b> yuri, shôjo-ai, schoolgirl…</p>
<p><b>Dernier chapitre sorti :</b> C09 le 03 octobre 2012</p>

<table class="table table-borderless">
	<tr>
		<td>
			<img src="http://i.imgur.com/O8sxNQj.jpg" style="display: block; margin: auto; height: 300px">
		</td>
		<td>
			<div style="margin: auto; width: 20em; margin-top: 45px;">
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C01.rar">Chapitre 1</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C02.rar">Chapitre 2</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C03.rar">Chapitre 3</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C04.rar">Chapitre 4</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C05.rar">Chapitre 5</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C06.rar">Chapitre 6</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C07.rar">Chapitre 7</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C08.rar">Chapitre 8</a><br>
				- <a href="http://samazama.fr/dl/Gokuj%c3%b4%20Drops/(SB)%20Gokujou%20Drops%20V01C09.rar">Chapitre 9</a><br>
			</div>
		</td>
	</tr>
</table>