<p><b>Date de publication :</b> 25/04/2009</p>
<p><b>Type :</b> hentai, school, gros seins, blonde, anal, humour…</p>

<table class="table table-borderless">
	<tr>
		<td>
			<img src="http://i.imgur.com/Eaz0XSJ.jpg" style="display: block; margin: auto; height: 300px">
		</td>
		<td>
			<div style="margin: auto; width: 20em; margin-top: 45px;">
				- <a href="http://samazama.fr/dl/Honey%20Blonde/[SB] Honey Blonde C01.rar">Chapitre 1</a><br>
				- <a href="http://samazama.fr/dl/Honey%20Blonde/[SB] Honey Blonde C02.rar">Chapitre 2</a><br>
				- <a href="http://samazama.fr/dl/Honey%20Blonde/[SB] Honey Blonde C03.rar">Chapitre 3</a><br>
				- <a href="http://samazama.fr/dl/Honey%20Blonde/[SB] Honey Blonde C04.rar">Chapitre 4</a><br>
				- <a href="http://samazama.fr/dl/Honey%20Blonde/[SB] Honey Blonde C05.rar">Chapitre 5</a><br>
				- <a href="http://samazama.fr/dl/Honey%20Blonde/[SB] Honey Blonde C06.rar">Chapitre 6</a><br>
			</div>
		</td>
	</tr>
</table>


