<i>* Rônin : un étudiant ayant échoué au concours d’entrée à l’université qui révisé seul pour retenter sa chance…</i>
<p></p>
<p><b>Série complète en :</b> 3 volumes</p>
<p><b>Dernier chapitre sorti :</b> C01 le 27 juillet 2012</p>

<table class="table table-borderless">
	<tr>
		<td>
			<a href="http://i.imgur.com/tO4hE03.jpg"><img src="http://i.imgur.com/tO4hE03.jpg" style="display: block; margin-left: auto; margin-right: auto; height: 300px"></a>
		</td>
		<td>
			<div style="margin: auto; width: 35em; margin-top: 45px;">
				<a href="http://samazama.fr/dl/Love%20and%20Devil/%5bSB%5d%20Love%20and%20Devil%20V01C01.rar">- Chapitre 1 : Contrat</a><br>
				- Chapitre 2 : Ces yeux sont dangereux<br>
				- Chapitre 3 : Il est interdit de monopoliser<br>
				- Chapitre 4 : Amour ? Amour ?! Amour !<br>
				- Chapitre 5 : Se noyer dans un désir au goût de miel<br>
				- Chapitre 6 : Comment passer une nuit sacrée<br>
				- Chapitre 7 : Piège sans issues<br>
				- Chapitre 8 : L’art de réussir ses examens, méthode démoniaque<br>
				- Chapitre 9 : Une pièce a toujours deux côtés<br>
			</div>
		</td>
	</tr>
</table>
