<p xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><b>Date de publication :</b> 2010</p>
<p><b>Type :</b> hentai, extrême, déformations, urophilie, lycéens…</p>
<p><b>Dernier chapitre sorti :</b> C11 le 4 septembre 2010</p>

<table class="table table-borderless">
	<tr>
		<td>
			<a href="http://i.imgur.com/wcs0isa.jpg"><img src="http://i.imgur.com/wcs0isa.jpg" style="display: block; margin: auto; height: 300px;"></a>
		</td>
		<td>
			<div style="margin: auto; width: 40em; margin-top: 15px;">
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C01.rar">- Chapitre 1 : L’assaut endormi des guérilleros</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C02.rar">- Chapitre 2 : Planète WC interdite</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C03.rar">- Chapitre 3 : Le rebelle mammaire – Masque de sous-vêtements</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C04.rar">- Chapitre 4 : Jet d’excitation</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C05.rar">- Chapitre 5 : La marche torrentielle</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C06.rar">- Chapitre 6 : En d’autres termes, le choc électrique de la vierge</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C07.rar">- Chapitre 7 : Maniaque !! Accroc au plaisir</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C08.rar">- Chapitre 8 : Équipe de nuit 4:44</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C09.rar">- Chapitre 9 : Contre-attaque brillante étincelle</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C10.rar">- Chapitre 10 : Explosion – La simulation de la petite sœur</a><br>
				<a href="http://samazama.fr/dl/Muchi%20Muchi!!%20Monzetsu%20Fever%20Plus/%5bSB%5d%20Muchi%20Muchi%20!!%20Monzetsu%20Fever%20Plus%20C11.rar">- Chapitre 11 : Venez au Café secret !</a><br>
			</div>
		</td>
	</tr>
</table>


