<p><b>Date de publication :</b> 11/11/2011</p>
<p><b>Type :</b> hentai, gros seins, OL, schoolgirl…</p>
<p><b>Dernier chapitre sorti :</b> C01 le 20 avril 2013</p>

<table class="table table-borderless">
	<tr>
		<td>
			<img src="http://uppix.net/8/c/b/66c9f9de9562714f671608b81ad98.jpg" style="display: block; margin: auto; height: 300px">
		</td>
		<td>
			<div style="margin: auto; width: 20em; margin-top: 45px;">
				- <a href="http://samazama.fr/dl/Nee%20mou%20sukoshi%20dake/[SB]Nee_mou_sukoshi_dake_C01.zip">Chapitre 1 : Entraînement d’été</a><br>
				- Chapitre 2 : Double-face<br>
				- Chapitre 3 : Ex-petite amie<br>
				- Chapitre 4 : Curiosité<br>
				- Chapitre 5 : Avertissement reporté<br>
				- Chapitre 6 : Naturel<br>
				- Chapitre 7 : Jour tranquille<br>
				- Chapitre 8 : Pause<br>
			</div>
		</td>
	</tr>
</table>