<table class="table table-borderless">
	<tr>
		<td>
			<img src="http://i.imgur.com/cEH3l7N.jpg" style="display: block; margin: auto; height: 300px">
		</td>
		<td>
			<div style="margin: auto; width: 20em; margin-top: 45px;">
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C01.rar">Chapitre 1</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C02.rar">Chapitre 2</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C03.rar">Chapitre 3</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C04.rar">Chapitre 4</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C05.rar">Chapitre 5</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C06.rar">Chapitre 6</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C07.zip">Chapitre 7</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C08v2.zip">Chapitre 8</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C09.zip">Chapitre 9</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C10.rar">Chapitre 10</a><br>
				- <a href="http://samazama.fr/dl/Strange%20Heart/[SB] Strange Heart C11.rar">Chapitre 11 (fin)</a><br>
			</div>
		</td>
	</tr>
</table>


