<table class="table table-bordered">
	<tr>
		<td>
			<img src="http://i.imgur.com/jyaey2P.jpg" style="float: right; height: 300px">
		</td>
		<td>
			<img src="http://i.imgur.com/rJuD2lI.jpg" style="height: 300px">
		</td>
		<td>
			<img src="http://i.imgur.com/8L0P5wv.jpg" style="float: right; height: 300px">
		</td>
	</tr>

	<tr>
		<td style="text-align: center;">
			- Chapitre 1 <br>
			- Chapitre 2 <br>
			- Chapitre 3 <br>
			- Chapitre 4 <br>
			- Chapitre 5 <br>
			- Chapitre 6 <br>
			- Chapitre 7 <br>
			- Chapitre 8 <br>
		</td>
		<td style="text-align: center;">
			- Chapitre 1 <br>
			- Chapitre 2 <br>
			- Chapitre 3 <br>
			- Chapitre 4 <br>
			- Chapitre 5 <br>
			- Chapitre 6 <br>
			- Chapitre 7 <br>
			- Chapitre 8 <br>
		</td>
		<td style="text-align: center;">
			- Chapitre 1 <br>
			- Chapitre 2 <br>
			- Chapitre 3 <br>
			- Chapitre 4 <br>
			- Chapitre 5 <br>
			- Chapitre 6 <br>
			- Chapitre 7 <br>
			- Chapitre 8 <br>
		</td>
	</tr>
</table>


