<p><b>Date de publication :</b> 2010</p>
<p><b>Type :</b> hentai, extrême, déformations, urophilie, lycéens…</p>
<p><b>Dernier chapitre sorti :</b> C01 le 1er janvier 2013</p>

<table class="table table-borderless">
	<tr>
		<td>
			<img src="http://i.imgur.com/Nn78Ump.jpg" style="display: block; margin: auto;">
		</td>
		<td>
			<div style="margin: auto; width: 20em; margin-top: 45px;">
				- <a href="http://samazama.fr/dl/Super%20Monzetsu%20Mega%20Bitch/%5bSB%5d%20Super%20Monzetsu%20Mega%20Bitch%20C01.rar">Chapitre 1</a><br>
			</div>
		</td>
	</tr>
</table>