<p><b>Série complète en  :</b> 6 volumes</p>
<p><b>Type :</b>  ecchi, petits seins, humour, université, amour…</p>
<p><b>Dernier chapitre ajouté  :</b> V02C02 le 20 avril 2013</p>

<table class="table table-borderless">
<tr>
	<td>
		<img src="http://i.imgur.com/Rhb8uIe.jpg" style="display: block; margin: auto; height: 300px">
	</td>
	<td>
		<img src="http://i.imgur.com/jrOC4Ya.jpg" style="display: block; margin-left: 50px; height: 300px">
	</td>
</tr>

<tr>
	<td>
		<div style="margin: auto; width: 20em">
			- <a href="http://samazama.fr/dl/Toshiue%20no%20Hito/(SB)Toshiue%20no%20Hito%20V01C01.rar">Chapitre 1 : La fille de mes rêves</a><br>
			- <a href="http://samazama.fr/dl/Toshiue%20no%20Hito/(SB)Toshiue%20no%20Hito%20V01C02.rar">Chapitre 2 : Cohabitation !?</a><br>
			- <a href="http://samazama.fr/dl/Toshiue%20no%20Hito/(SB)Toshiue%20no%20Hito%20V01C03.rar">Chapitre 3 : Stage d'été !!</a><br>
			- <a href="http://samazama.fr/dl/Toshiue%20no%20Hito/(SB)Toshiue%20no%20Hito%20V01C04.rar">Chapitre 4 : Amour non partagé...</a><br>
			- <a href="http://samazama.fr/dl/Toshiue%20no%20Hito/(SB)Toshiue%20no%20Hito%20V01C05.rar">Chapitre 5 : Déménagement...</a>
		</div>
	</td>
	<td>
		<div style="margin: auto; width: 20em">
			- <a href="http://samazama.fr/dl/Toshiue%20no%20Hito/(SB)Toshiue%20no%20Hito%20V02C01.zip">Chapitre 1 : Perdue...</a><br>
			- <a href="http://samazama.fr/dl/Toshiue%20no%20Hito/(SB)Toshiue%20no%20Hito%20V02C02.zip">Chapitre 2 : Réunis</a>
		</div>
	</td>
</tr>
</table>


