<p><b>Type :</b> yuri, shôjo-ai, schoolgirl…</p>
<p><b>Dernier chapitre sorti :</b> C02 le 04 mars 2010</p>
<p><b>Nous recherchons un traducteur jap -> fr pour ce projet !</b></p>

<table class="table table-borderless">
	<tr>
		<td>
			<img src="http://i.imgur.com/Eb6c14c.jpg" style="display: block; margin: auto; height: 300px">
		</td>
		<td>
			<div style="margin: auto; width: 20em; margin-top: 45px;">
				- <a href="http://www.samazama.fr/dl/Tsubomi/[SB] Tsubomi_V01_C01.rar">Chapitre 1 : la recette du secret</a><br>
				- <a href="http://www.samazama.fr/dl/Tsubomi/[SB] Tsubomi_V01_C02.rar">Chapitre 2 : koburi awase</a>
			</div>
		</td>
	</tr>
</table>